@page "/"

<PageTitle>Home</PageTitle>

<h1>My Grades & Classes:</h1>
<h3>🟩 = Turned In &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;🟨 = Not Turned In &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;🟥 = Late</h3>
<h3></h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Class</th>
      <th>Submitted</th>
      <th>Due</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <tr class="course-grade">
      <td>C Sharp Computer</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
      <td></td>
      <td></td>
      <td> 57.37% </td>
    </tr>
    <tr class="course-grade">
      <td>Linear Algebra</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
      <td></td>
      <td></td>
      <td> 45.73% </td>
    </tr>
    <tr class="course-grade">
      <td>Biology</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
      <td></td>
      <td></td>
      <td> 30% </td>
    </tr>
    <tr class="course-grade">
      <td>Photography</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
      <td></td>
      <td></td>
      <td> 97.14% </td>
    </tr>
    <tr class="turned-in">
      <td><a href="https://snow.instructure.com"><strong>Homework 1-7</strong></a></td>
      <td>Spring 2025 Object-Oriented Programming (CS-1410-001)</td>
      <td>Yes</td>
      <td>January 10 at 11:59 PM</td>
      <td>- / 4</td>
    </tr>
    <tr class="turned-in">
      <td><a href="https://snow.instructure.com"><strong>Review Quiz 1</strong></a></td>
      <td>Spring 2025 Object-Oriented Programming (CS-1410-001)</td>
      <td>Yes</td>
      <td>January 10 at 11:59 PM</td>
      <td>8 / 8</td>
    </tr>

    <tr class="turned-in">
      <td><a href="https://snow.instructure.com"><strong>Chapters 8-11</strong></a></td>
      <td>Spring 2025 Object-Oriented Programming (CS-1410-001)</td>
      <td>Yes</td>
      <td>January 10 at 11:59 PM</td>
      <td>- / 5</td>
    </tr>

    <tr class="turned-in">
      <td><a href="https://snow.instructure.com"><strong>Homework 8-11</strong></a></td>
      <td>Spring 2025 Object-Oriented Programming (CS-1410-001)</td>
      <td>Yes</td>
      <td>January 10 at 11:59 PM</td>
      <td>- / 9</td>
    </tr>

    <tr class="turned-in">
      <td><a href="https://snow.instructure.com"><strong>Lab 01 - Guessing Game</strong></a></td>
      <td>Spring 2025 Object-Oriented Program Lab (CS-1415-001)</td>
      <td>Yes</td>
      <td>January 10 at 11:59 PM</td>
      <td>14 / 15</td>
    </tr>

    <tr class="turned-in">
      <td><a href="https://snow.instructure.com"><strong>Chapters 12 &amp; 13</strong></a></td>
      <td>Spring 2025 Object-Oriented Programming (CS-1410-001)</td>
      <td>Yes</td>
      <td>January 10 at 11:59 PM</td>
      <td>5 / 5</td>
    </tr>
    
    <tr class="turned-in">
      <td><a href="https://snow.instructure.com"><strong>Videos about Chemistry</strong></a></td>
      <td>Spring 2025 General Biology LS (BIOL-1010-002)</td>
      <td></td>
      <td>January 10 at 11:59 PM</td>
      <td>3 / 10</td>
    </tr>
    
    <tr class="late-missing">
      <td><a href="https://snow.instructure.com"><strong>Ch 14, 16, 17</strong></a></td>
      <td>Spring 2025 Object-Oriented Programming (CS-1410-001)</td>
      <td></td>
      <td>January 10 at 11:59 PM</td>
      <td>3 / 5</td>
    </tr>
    
    <tr class="late-missing">
      <td><a href="https://snow.instructure.com"><strong>Review Quiz 2</strong></a></td>
      <td>Spring 2025 Object-Oriented Programming (CS-1410-001)</td>
      <td></td>
      <td>January 10 at 11:59 PM</td>
      <td>0 / 9</td>
    </tr>
    
    <tr class="turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Practice Activity 2</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>January 10 at 11:59 PM</td>
      <td>(? 10) / 10</td>
    </tr>
    <tr class="turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Preparation Journal 2</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>January 10 at 11:59 PM</td>
      <td>(? 3) / 10</td>
    </tr>
    <tr class="turned-in">
      <td><a href="https://snow.instructure.com"><strong>Mastery Journal 2</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>January 10 at 11:59 PM</td>
      <td>(? 5) / 15</td>
    </tr>
    <tr class="late-missing">
      <td><a href="https://snow.instructure.com"><strong>Homework Project Testing</strong></a></td>
      <td>Spring 2025 Object-Oriented Programming (CS-1410-001)</td>
      <td></td>
      <td>January 10 at 11:59 PM</td>
      <td>0 / 14</td>
    </tr>
    <tr class="late-missing">
      <td><a href="https://snow.instructure.com"><strong>Chapter 15 & 18</strong></a></td>
      <td>Spring 2025 Object-Oriented Programming (CS-1410-001)</td>
      <td></td>
      <td>January 10 at 11:59 PM</td>
      <td>0 / 5</td>
    </tr>
    <tr class="late-missing">
      <td><a href="https://snow.instructure.com"><strong>Reading Quiz 15 & 18 - Classes and Ojects</strong></a></td>
      <td>Spring 2025 Object-Oriented Programming (CS-1410-001)</td>
      <td></td>
      <td>January 10 at 11:59 PM</td>
      <td>0 / 8</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Chapter 19</strong></a></td>
      <td>Spring 2025 Object-Oriented Programming (CS-1410-001)</td>
      <td></td>
      <td>January 10 at 11:59 PM</td>
      <td>- / 3</td>
    </tr>
    <tr class="late-missing">
      <td><a href="https://snow.instructure.com"><strong>Class Practice Activity 3</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>January 11 at 11:59 PM</td>
      <td>10 / 10</td>
    </tr>
    <tr class="late-missing">
      <td><a href="https://snow.instructure.com"><strong>Class Preparation Journal 3</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>January 11 at 11:59 PM</td>
      <td>5 / 10</td>
    </tr>
    <tr class="late-missing">
      <td><a href="https://snow.instructure.com"><strong>Mastery Journal 3</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>January 11 at 11:59 PM</td>
      <td>1 / 15</td>
    </tr>
    <tr class="late-missing">
      <td><a href="https://snow.instructure.com"><strong>Chapter 19</strong></a></td>
      <td>Spring 2025 Object-Oriented Programming (CS-1410-001)</td>
      <td></td>
      <td>January 11 at 11:59 PM</td>
      <td>- / 8</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Chapters 21 Static & 22 Null Reference</strong></a></td>
      <td>Spring 2025 Object-Oriented Programming (CS-1410-001)</td>
      <td></td>
      <td>January 14 at 11:59 PM</td>
      <td>- / 5</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class 930</strong></a></td>
      <td>SPRING 2025 GENERAL BIOLOGY (BIOL-1010-002)</td>
      <td></td>
      <td>January 17 at 12:00 to 1:00 PM</td>
      <td>- / -</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Practice Activity 4</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>January 18 at 11:59 PM</td>
      <td>- / 10</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Preparation Journal 4</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>January 18 at 11:59 PM</td>
      <td>- / 10</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Mastery Journal 4</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>January 18 at 11:59 PM</td>
      <td>- / 15</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Homework - Employee Management</strong></a></td>
      <td>Spring 2025 Object-Oriented Programming (CS-1410-001)</td>
      <td></td>
      <td>January 18 at 11:59 PM</td>
      <td>- / 11</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Practice Activity 5</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>January 25 at 11:59 PM</td>
      <td>- / 10</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Preparation Journal 5</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>January 25 at 11:59 PM</td>
      <td>- / 10</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Mastery Journal 5</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>January 25 at 11:59 PM</td>
      <td>- / 15</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Practice Activity 6</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>February 1 at 11:59 PM</td>
      <td>- / 10</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Preparation Journal 6</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>February 1 at 11:59 PM</td>
      <td>- / 10</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Mastery Journal 6</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>February 1 at 11:59 PM</td>
      <td>- / 15</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Practice Activity 7</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>February 8 at 11:59 PM</td>
      <td>- / 10</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Preparation Journal 7</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>February 8 at 11:59 PM</td>
      <td>- / 10</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Mastery Journal 7</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>February 8 at 11:59 PM</td>
      <td>- / 15</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Practice Activity 8</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>February 15 at 11:59 PM</td>
      <td>- / 10</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Preparation Journal 8</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>February 15 at 11:59 PM</td>
      <td>- / 10</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Mastery Journal 8</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>February 15 at 11:59 PM</td>
      <td>- / 15</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Practice Activity 9</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>February 22 at 11:59 PM</td>
      <td>- / 10</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Preparation Journal 9</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>February 22 at 11:59 PM</td>
      <td>- / 10</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Mastery Journal 9</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>February 22 at 11:59 PM</td>
      <td>- / 15</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Practice Activity 10</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>March 1 at 11:59 PM</td>
      <td>- / 10</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Preparation Journal 10</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>March 1 at 11:59 PM</td>
      <td>- / 10</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Mastery Journal 10</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>March 1 at 11:59 PM</td>
      <td>- / 15</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Practice Activity 11</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>March 8 at 11:59 PM</td>
      <td>- / 10</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Preparation Journal 11</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>March 8 at 11:59 PM</td>
      <td>- / 10</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Mastery Journal 11</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>March 8 at 11:59 PM</td>
      <td>- / 15</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Practice Activity 12</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>March 15 at 11:59 PM</td>
      <td>- / 10</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Preparation Journal 12</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>March 15 at 11:59 PM</td>
      <td>- / 10</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Mastery Journal 12</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>March 15 at 11:59 PM</td>
      <td>- / 15</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Practice Activity 13</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>March 22 at 11:59 PM</td>
      <td>- / 10</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Preparation Journal 13</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>March 22 at 11:59 PM</td>
      <td>- / 10</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Mastery Journal 13</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>March 22 at 11:59 PM</td>
      <td>- / 15</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Practice Activity 14</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>March 29 at 11:59 PM</td>
      <td>- / 10</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Preparation Journal 14</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>March 29 at 11:59 PM</td>
      <td>- / 10</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Mastery Journal 14</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>March 29 at 11:59 PM</td>
      <td>- / 15</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Practice Activity 15</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>April 5 at 11:59 PM</td>
      <td>- / 10</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Class Preparation Journal 15</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>April 5 at 11:59 PM</td>
      <td>- / 10</td>
    </tr>
    <tr class="not-turned-in">
      <td><a href="https://snow.instructure.com"><strong>Mastery Journal 15</strong></a></td>
      <td>Spring 2025 LINEAR ALGEBRA (MATH-2270-001)</td>
      <td></td>
      <td>April 5 at 11:59 PM</td>
      <td>- / 15</td>
    </tr>
    <!-- Add more assignments as needed -->
  </tbody>
</table>


